<ol class="breadcrumb">
    <li>首页</li>
    <li class="active">表格</li>
</ol>
<h1 class="page-title">表格 - <span class="fw-semi-bold">基本</span></h1>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header><h4>表格 <span class="fw-semi-bold">图文</span></h4></header>
            <div class="widget-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="hidden-xs">#</th>
                            <th>图片</th>
                            <th>描述</th>
                            <th class="hidden-xs">信息</th>
                            <th class="hidden-xs">日期</th>
                            <th class="hidden-xs">大小</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat=" i in lists ">
                            <td class="hidden-xs">{{$index+1}}</td>
                            <td><img class="img-rounded" ng-src="{{i.url}}" alt="" height="50"></td>
                            <td ng-bind-html="i.description"></td>
                            <td class="hidden-xs">
                                <p class="no-margin"><small><span class="fw-semi-bold">类型:</span><span class="text-semi-muted">&nbsp; {{i.info.Type}}</span></small></p>
                                <p><small><span class="fw-semi-bold">大小:</span><span class="text-semi-muted">&nbsp; {{i.info.Dimensions}}</span></small></p>
                            </td>
                            <td class="hidden-xs text-semi-muted">{{i.date}}</td>
                            <td class="hidden-xs text-semi-muted">{{i.size}}</td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-{{i.progress_status}}"  style="width: {{i.progress}}%;"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="pull-right">
                        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" previous-text="上一页" next-text="下一页"  first-text="第一页" last-text="最后一页"></ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <section class="widget">
            <header>
                <h5>表格</h5>
            </header>
            <div class="widget-body">
                <h3>条纹 <span class="fw-semi-bold">表格</span></h3>
                <p>给table添加 <code>.table-striped</code></p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <input id="checkbox-all" type="checkbox" ng-click="checkAll()">
                                    <label for="checkbox-all"></label>
                                </div>
                            </th>
                            <th>姓名</th>
                            <th>标题</th>
                            <th>信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in lists">
                            <td>
                                <div class="checkbox">
                                    <input id="checkbox{{$index}}" type="checkbox" ng-model="i.checked">
                                    <label for="checkbox{{$index}}"></label>
                                </div>
                            </td>
                            <td>{{i.last_name}}{{i.first_name}}</td>
                            <td ng-bind-html="i.description"></td>
                            <td><span class="label label-{{i.progress_status}}">{{i.progress_status}}</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="pull-right">
                        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" previous-text="《" next-text="》"></ul>
                    </div>
                </div>
                <br><br>
                <h3>Hover </h3>
                <p>给table添加  <code>.table-hover</code></p>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>姓名</th>
                            <th>标题</th>
                            <th>信息</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="i in lists">
                                <td>{{$index+1}}</td>
                                <td>{{i.last_name}}{{i.first_name}}</td>
                                <td ng-bind-html="i.description"></td>
                                <td><a>{{i.email}}</a></td>
                                <td><span class="badge bg-gray-lighter text-gray">Pending</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div class="pull-right">
                            <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" previous-text="《" next-text="》"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="widget">
            <header>
                <h5>表格</h5>
            </header>
            <div class="widget-body">
                <h3>表格  <span class="fw-semi-bold">边框</span></h3>
                <p>给table添加<code>.table-bordered</code> to it.</p>
                <table class="table table-bordered table-lg mt-lg mb-0">
                    <thead>
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <input id="checkbox_2_all" type="checkbox" ng-click="checkAll()">
                                    <label for="checkbox_2_all"></label>
                                </div>
                            </th>
                            <th>标题</th>
                            <th class="text-align-right">价格</th>
                            <th class="text-align-center">状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in lists">
                            <td>
                                <div class="checkbox">
                                    <input id="checkbox_2_{{$index}}" type="checkbox" ng-model="i.checked">
                                    <label for="checkbox_2_{{$index}}"></label>
                                </div>
                            </td>
                            <td ng-bind-html="i.description"></td>
                            <td class="text-align-right">￥{{i.price}}</td>
                            <td class="text-align-center"><span class="label label-{{i.progress_status}}">{{i.progress_status}}</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="pull-right">
                        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" previous-text="《" next-text="》"></ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="widget">
            <header><h5>表格</h5></header>
            <div class="widget-body">
                <h3>表格  <span class="fw-semi-bold">超限制</span></h3>
                <p>给table添加<code>.widget-table-overflow</code></p>
            </div>
            <div class="widget-table-overflow">
                <table class="table table-striped table-lg mt-lg mb-0">
                    <thead class="no-bd">
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <input id="checkbox_3_all" type="checkbox" ng-click="checkAll()">
                                    <label for="checkbox_3_all"></label>
                                </div>
                            </th>
                            <th>姓名</th>
                            <th class="text-align-right">价格</th>
                            <th class="text-align-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in lists">
                            <td>
                                <div class="checkbox">
                                    <input id="checkbox_3_{{$index}}" type="checkbox" ng-model="i.checked">
                                    <label for="checkbox_3_{{$index}}"></label>
                                </div>
                            </td>
                            <td>{{i.last_name}}{{i.first_name}}</td>
                            <td class="text-align-right">￥{{i.price}}</td>
                            <td class="text-align-center">
                                <span class="label label-{{i.progress_status}}">{{i.progress_status}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="pull-right">
                        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" previous-text="《" next-text="》"></ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
