<ol class="breadcrumb">
    <li>首页</li>
    <li class="active">表单</li>
</ol>
<h1 class="page-title"><span class="fw-semi-bold">表单</span> 部分元素依赖于bootstrap指令</h1>

<div class="row">

    <div class="col-md-6">
        <section class="widget">
            <header>
                <h5>基本元素</h5>
                <div class="widget-controls widget-controls-hover"><a><i class="fa fa-refresh"></i></a></div>
            </header>
            <div class="widget-body">
                <form class="form-horizontal" role="form">
                    <fieldset>
                        <legend>表单名称</legend>
                        <div class="form-group">
                            <label for="normal-field" class="col-sm-4 control-label">普通字段</label>
                            <div class="col-sm-7">
                                <input type="text" id="normal-field" class="form-control" placeholder="普通字段">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hint-field" class="col-sm-4 control-label">
                                普通字段加提示
                                <span class="help-block">提示内容</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" id="hint-field" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="tooltip-enabled">交互提示</label>
                            <div class="col-sm-7">
                                <input type="text" id="tooltip-enabled" class="form-control" uib-tooltip="提示内容"  placeholder="Hover 有提示">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="disabled-input">禁止输入</label>
                            <div class="col-sm-7">
                                <input type="text" id="disabled-input" class="form-control" disabled="disabled" value="禁止">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="max-length">限制三个字</label>
                            <div class="col-sm-7">
                                <input type="text" id="max-length" maxlength="3" class="form-control" placeholder=""  uib-tooltip="最多可以输入3个字">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="prepended-input">前置Icon</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input id="prepended-input" class="form-control" size="16" type="text" placeholder="Username">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="password-field">前置Icon</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" id="password-field" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="appended-input">后置固定内容</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <input id="appended-input" class="form-control" size="16" type="text">
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="combined-input">前后加固定内容</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input id="combined-input" class="form-control" size="16" type="text">
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="transparent-input">内含Icon</label>
                            <div class="col-sm-7">
                                <div class="input-group input-group-transparent">
                                    <input id="transparent-input" class="form-control" type="text">
                                    <span class="input-group-addon"><i class="fa fa-camera"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="no-borders-input">透明输入框</label>
                            <div class="col-sm-7">
                                <input id="no-borders-input" class="form-control input-no-border bg-gray-lighter" type="text" placeholder="Search Dashboard">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-7">
                                <button type="submit" class="btn btn-primary">保存</button>
                                <button type="button" class="btn btn-inverse">取消</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>


    <div class="col-md-6">
        <section class="widget">
            <header>
                <h5>特殊输入元素</h5>
                <div class="widget-controls">
                    <a><i class="glyphicon glyphicon-cog"></i></a>
                    <a><i class="fa fa-refresh"></i></a>
                    <a><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <form role="form">
                    <fieldset>
                        <legend>表单 <strong>名称</strong></legend>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="search-input">搜索</label>
                                    <div class="input-group">
                                        <input type="search" class="form-control" id="search-input">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default">搜索</button>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="default-textarea">文本</label>
                                    <textarea rows="4" class="form-control" id="default-textarea"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="bar">按钮</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="bar">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-danger"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn btn-warning"><i class="fa fa-plus"></i></button>
                                            <button type="button" class="btn btn-success"><i class="fa fa-refresh"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dropdown-appended">下拉</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="dropdown-appended">
                                        <div class="input-group-btn" uib-dropdown>
                                                <button id="split-button" type="button" class="btn btn-danger">Action</button>
                                                <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Split button!</span>
                                                </button>
                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                                    <li ng-repeat="i in mu1" role="menuitem"><a >{{i}}</a></li>
                                                    <li class="divider"></li>
                                                    <li role="menuitem"><a>Separated link</a></li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="segmented-dropdown">下拉</label>
                                    <div class="input-group">
                                        <input id="segmented-dropdown" class="form-control" type="text">
                                        <div class="input-group-btn"  uib-dropdown>
                                            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                                Button dropdown <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                                <li ng-repeat="i in mu1" role="menuitem"><a >{{i}}</a></li>
                                                <li class="divider"></li>
                                                <li role="menuitem"><a>Separated link</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="help-block">Anything can be appended to the right</span>
                                </div>


                                <div class="form-group">
                                    <label for="segmented-dropdown">下拉</label>
                                    <div class="form-control l_select">
                                        <span>{{select_vul1}}</span>
                                        <select  class="l_select2" ng-model="select_vul1">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>

                                </div>






                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-inverse">保存</button>
                        <button type="button" class="btn btn-default">取消</button>
                    </div>
                </form>
            </div>
        </section>
    </div>


</div>



<div class="row">

    <div class="col-md-8">
        <section class="widget">
            <header>
                <h5>表单 <span class="fw-semi-bold">尺寸</span></h5>
                <div class="widget-controls">
                    <a class="bg-gray-transparent"><i class="glyphicon glyphicon-cog text-white"></i></a>
                    <a><i class="fa fa-refresh"></i></a>
                    <a><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <form role="form">
                    <fieldset>
                        <legend>
                            输入框尺寸
                        </legend>
                        <p>inputs、selects均可用</p>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder=".input-lg">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="default input">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" placeholder=".input-sm">
                        </div>
                        <div class="form-group">
                            <div class="col-sm-11">
                                <div class="btn-toolbar">
                                    <button type="button" class="btn btn-sm btn-default pull-right">清除</button>
                                    <button type="button" class="btn btn-sm btn-danger pull-right">保存</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>

    <div class="col-md-4">
        <section class="widget">
            <header>
                <h5>表单 <span class="fw-semi-bold">尺寸</span></h5>
                <div class="widget-controls">
                    <a class="bg-gray-transparent"><i class="glyphicon glyphicon-cog text-white"></i></a>
                    <a><i class="fa fa-refresh"></i></a>
                    <a><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <form role="form">
                    <fieldset>
                        <legend>
                            Input Groups
                        </legend>
                        <p>
                            Different colors &amp; sizes for any elements including input groups. Elements may be
                            easily styled with classes like <code>.bg-primary</code> or <code>.bg-transparent</code>
                        </p>
                        <br>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon bg-transparent"><i class="fa fa-github-alt"></i></span>
                                <input class="form-control" size="16" type="text" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-bars"></i></span>
                                <input class="form-control" size="16" type="text" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <input class="form-control" size="16" type="text" placeholder="City">
                                <span class="input-group-addon bg-danger text-white"><i class="fa fa-code-fork"></i></span>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <header><h5>Checkbox <strong>Controls</strong></h5></header>
            <div class="widget-body">
                <div class="row">

                    <div class="col-md-4">
                        <fieldset>
                            <legend>
                                基本
                            </legend>
                            <div class="checkbox">
                                <input id="checkbox1" type="checkbox" ng-model="checkbox1">
                                <label for="checkbox1">
                                    Default
                                </label>
                            </div>
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox2" type="checkbox" checked="">
                                <label for="checkbox2">
                                    Primary
                                </label>
                            </div>
                            <div class="checkbox checkbox-success">
                                <input id="checkbox3" type="checkbox">
                                <label for="checkbox3">
                                    Success
                                </label>
                            </div>
                            <div class="checkbox checkbox-info">
                                <input id="checkbox4" type="checkbox" checked="">
                                <label for="checkbox4">
                                    Info
                                </label>
                            </div>
                            <div class="checkbox checkbox-warning">
                                <input id="checkbox5" type="checkbox">
                                <label for="checkbox5">
                                    Warning
                                </label>
                            </div>
                            <div class="checkbox checkbox-danger">
                                <input id="checkbox6" type="checkbox" checked="">
                                <label for="checkbox6">
                                    Check me out
                                </label>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-4">
                        <fieldset>
                            <legend>
                                圆形
                            </legend>
                            <p>
                                加<code>.checkbox-circle</code>
                            </p>
                            <div class="checkbox checkbox-circle">
                                <input id="checkbox7" type="checkbox">
                                <label for="checkbox7">
                                    Simply Rounded
                                </label>
                            </div>
                            <div class="checkbox checkbox-info checkbox-circle">
                                <input id="checkbox8" type="checkbox" checked="">
                                <label for="checkbox8">
                                    Me too
                                </label>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-4">
                        <fieldset>
                            <legend>
                                禁用
                            </legend>
                            <div class="checkbox">
                                <input id="checkbox9" type="checkbox" disabled="">
                                <label for="checkbox9">
                                    Can't check this
                                </label>
                            </div>
                            <div class="checkbox checkbox-success">
                                <input id="checkbox10" type="checkbox" disabled="" checked="">
                                <label for="checkbox10">
                                    This too
                                </label>
                            </div>
                            <div class="checkbox checkbox-warning checkbox-circle">
                                <input id="checkbox11" type="checkbox" disabled="" checked="">
                                <label for="checkbox11">
                                    And this
                                </label>
                            </div>
                        </fieldset>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <section class="widget">
            <header><h5>Radio <strong>Controls</strong></h5></header>
            <div class="widget-body">
                <form role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>
                                    基本
                                </legend>
                                <p>
                                    Supports bootstrap brand colors: <code>.radio-primary</code>, <code>.radio-danger</code> etc.
                                    Pure css solution with no javascript. Let your radios shine!
                                </p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio1" value="option1" ng-model="radio1">
                                            <label for="radio1">
                                                Small
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio2" value="option2" ng-model="radio1">
                                            <label for="radio2">
                                                Big
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="radio radio-danger">
                                            <input type="radio" name="radio2" id="radio3" value="option1">
                                            <label for="radio3">
                                                Next
                                            </label>
                                        </div>
                                        <div class="radio radio-danger">
                                            <input type="radio" name="radio2" id="radio4" value="option2" checked="">
                                            <label for="radio4">
                                                One
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <legend>
                                    禁用
                                </legend>
                                <div class="radio">
                                    <input type="radio" name="radio3" id="radio5" value="option1" disabled="">
                                    <label for="radio5">
                                        Next
                                    </label>
                                </div>
                                <div class="radio radio-warning">
                                    <input type="radio" name="radio3" id="radio6" value="option2" checked="" disabled="">
                                    <label for="radio6">
                                        One
                                    </label>
                                </div>
                            </fieldset>
                        </div>

                    </div>
                </form>
            </div>
        </section>
    </div>
</div>





